{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block styles %}
{#    <link rel="stylesheet" href="{% static "css/main.css" %}" >#}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-9 mx-auto">
            <div class="row">
                <div class="col-12">

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:300px;overflow:hidden;">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 rounded" src="{% static 'img/hp-hero_1920px_2.jpg' %}" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 rounded" src="{% static 'img/KT-1_190215_Kelvi1063.jpg' %}" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 rounded" src="{% static 'img/KT-3_190215_Kelvi0574.jpg' %}" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="row bg-dark rounded">
                <div class="col-12 col-md-8">
                    <div class="alert alert-primary" >
                        <p class="text-left">

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed molestie odio. Curabitur ex
                            enim, iaculis et nunc vel, vestibulum lacinia augue. Nullam sem mi, semper in lacinia quis,
                            vestibulum non odio. Donec a massa laoreet, pellentesque elit vel, consectetur enim. Sed
                            pellentesque lectus iaculis fermentum mattis. Ut quis ligula lacinia, congue risus quis,
                            tincidunt libero. Vivamus placerat volutpat venenatis. Donec in lorem vel lacus volutpat
                            faucibus ac in sapien. Maecenas efficitur eu quam ultrices vestibulum. Duis sagittis eros varius,
                            mollis elit sit amet, aliquam ante. Suspendisse at tempus neque, non dapibus enim.

                            Curabitur cursus enim eget magna mollis, non mollis augue laoreet. In ornare magna at ante
                            condimentum, a lobortis turpis dignissim. Phasellus at consequat nunc. Mauris commodo tempor
                            ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                            curae; In vitae erat erat. Nullam rutrum ex sed nunc vehicula, eget sollicitudin ex faucibus.
                            Nunc mi nisl, aliquam vel felis tempor, dignissim vehicula urna. Vestibulum quis eros enim.
                            Donec pellentesque dolor purus, vel volutpat eros maximus sit amet. Maecenas elit metus,
                            ullamcorper quis sapien nec, commodo ultrices ex. Nam pharetra et ex ut semper. Proin et maximus
                            metus. In rutrum hendrerit velit sed cursus.

                            Duis fermentum dolor sed mauris pellentesque blandit. Maecenas pretium, tellus at pharetra
                            ultricies, turpis purus sagittis ex, eu auctor mauris odio eget nibh. Proin eget est ex.
                            Morbi non neque lacinia, venenatis odio sit amet, vulputate sem. Duis efficitur elit sed
                            elit sagittis, et porta mi tempus. In quis augue nec elit porta pellentesque eget et felis.
                            Aenean viverra nibh sed finibus faucibus. Mauris quis euismod nunc, ut lobortis est.
                            Nam scelerisque enim ac tellus feugiat tincidunt. Aenean efficitur, leo nec convallis vulputate,
                            justo erat feugiat tellus, id lacinia augue nunc a neque. Morbi elit erat, semper ac mi non,
                            dignissim consectetur nulla. Donec suscipit congue lacus at pellentesque. Pellentesque et justo
                            at velit convallis viverra ac a nisi. Nulla facilisi. Pellentesque dictum lacus viverra, vulputate
                            nisi non, varius magna. Mauris suscipit ultrices bibendum.

                            Pellentesque elementum velit maximus, lacinia ipsum non, fermentum tortor. Maecenas libero
                            mauris, blandit nec tristique at, vehicula ac mi. Integer porttitor lectus nec sem fringilla,
                            id aliquet leo auctor. Integer auctor aliquet maximus. Proin sed sodales diam. Nulla facilisi.
                            Curabitur sodales massa sit amet felis mattis, in lacinia erat hendrerit. Mauris nec vestibulum
                            sem. Maecenas dignissim tempus cursus. Curabitur nec semper enim, sed pulvinar purus. Proin
                            volutpat eros at neque commodo, at imperdiet ipsum pulvinar. Phasellus justo lorem, convallis
                            eget nulla eget, hendrerit posuere ligula. Sed tellus dolor, gravida quis purus facilisis,
                            tincidunt vestibulum ipsum. In vel nibh sed purus molestie bibendum. In malesuada risus nec leo
                            finibus pulvinar. Nulla vehicula cursus hendrerit.

                            Nullam blandit, ligula sed interdum imperdiet, elit risus efficitur tortor, sit amet lobortis
                            velit elit vitae diam. Phasellus pulvinar diam id felis accumsan vulputate. Etiam finibus ut
                            ante in congue. Etiam tempor elementum nisi sit amet vulputate. Quisque ac turpis libero. Ut
                            malesuada a turpis at imperdiet. Curabitur eget neque dolor. Quisque venenatis, dolor nec
                            dignissim mattis, leo enim eleifend nisi, mattis ornare sapien nisl non mauris. Nunc id varius
                            augue. Praesent sed dolor efficitur, maximus diam id, vestibulum lectus. Phasellus orci nisi,
                            ullamcorper ac ipsum ac, ullamcorper auctor urna. Etiam pulvinar lacus ut purus ullamcorper
                            suscipit. Morbi tincidunt tempus ultricies.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col">

                            <div class="alert alert-danger">
                            Pellentesque elementum velit maximus, lacinia ipsum non, fermentum tortor. Maecenas libero
                                mauris, blandit nec tristique at, vehicula ac mi. Integer porttitor lectus nec sem fringilla,
                                id aliquet leo auctor. Integer auctor aliquet maximus. Proin sed sodales diam. Nulla facilisi.
                                Curabitur sodales massa sit amet felis mattis, in lacinia erat hendrerit. Mauris nec vestibulum
                                sem. Maecenas dignissim tempus cursus. Curabitur nec semper enim, sed pulvinar purus. Proin
                                volutpat eros at neque commodo, at imperdiet ipsum pulvinar. Phasellus justo lorem, convallis
                                eget nulla eget, hendrerit posuere ligula. Sed tellus dolor, gravida quis purus facilisis,
                                tincidunt vestibulum ipsum. In vel nibh sed purus molestie bibendum. In malesuada risus nec leo
                                finibus pulvinar. Nulla vehicula cursus hendrerit.

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-info">
                            Nullam blandit, ligula sed interdum imperdiet, elit risus efficitur tortor, sit amet lobortis
                            velit elit vitae diam. Phasellus pulvinar diam id felis accumsan vulputate. Etiam finibus ut
                            ante in congue. Etiam tempor elementum nisi sit amet vulputate. Quisque ac turpis libero. Ut
                            malesuada a turpis at imperdiet. Curabitur eget neque dolor. Quisque venenatis, dolor nec
                            dignissim mattis, leo enim eleifend nisi, mattis ornare sapien nisl non mauris. Nunc id varius
                            augue. Praesent sed dolor efficitur, maximus diam id, vestibulum lectus. Phasellus orci nisi,
                            ullamcorper ac ipsum ac, ullamcorper auctor urna. Etiam pulvinar lacus ut purus ullamcorper
                            suscipit. Morbi tincidunt tempus ultricies.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{##}
{#    <div class="text-center">#}
{#        {% if request.user.is_authenticated %}#}
{#        <h1>Welcome, {{ request.user }}</h1>#}
{#        {% else %}#}
{#        <h1>Welcome,  Guest!</h1>#}
{#        {% endif %}#}
{#        <h1>{{ title }}</h1>#}
{#    </div>#}


        {% if request.user.is_authenticated %}
{#            <div class="row">#}
{#                <div class="col">#}
{#                    <h1>Premium!</h1>#}
{#                    {{ premium_content }}#}
{#                </div>#}
{#            </div>#}
        {% endif %}

{% endblock %}


{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#    <!-- Required meta tags -->#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{##}
{#    <!-- Bootstrap CSS -->#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="{% static "css/main.css" %}" >#}
{#    <title>Hello, world!</title>#}
{#</head>#}
{#<body>#}
{##}
{#<!-- Optional JavaScript -->#}
{#<!-- jQuery first, then Popper.js, then Bootstrap JS -->#}
{#<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>#}
{#</body>#}
{#</html>#}